In [1]:
import pandas as pd

dm = pd.read_json('messages.json')

In [2]:
hasil = []
for pesan in dm['conversation']:
    for item in pesan[1:]:
        hasil.append(item)

In [3]:
isi_dm = pd.DataFrame(hasil)
isi_dm.head()

,action,animated_media_images,created_at,heart,is_random,likes,link,media,media_owner,media_share_caption,media_share_url,media_url,mentioned_username,profile_share_name,profile_share_username,sender,story_share,text,user,video_call_action
0,NaN,NaN,2018-12-16T16:48:36.528579+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,strbyj,NaN,gah,NaN,NaN
1,NaN,NaN,2018-12-16T16:28:22.394162+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,annidazakiya,NaN,Heu mbok ajak aku mau,NaN,NaN
2,NaN,NaN,2018-12-16T16:27:30.721914+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,strbyj,NaN,kkup,NaN,NaN
3,NaN,NaN,2018-12-16T16:26:29.711387+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,annidazakiya,Shared strbyj's story,Kamu belajar apa mas,NaN,NaN
4,NaN,NaN,2018-12-14T13:31:14.497441+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,strbyj,NaN,nakui,NaN,NaN

In [4]:
isi_dm.columns

Index(['action', 'animated_media_images', 'created_at', 'heart', 'is_random',
       'likes', 'link', 'media', 'media_owner', 'media_share_caption',
       'media_share_url', 'media_url', 'mentioned_username',
       'profile_share_name', 'profile_share_username', 'sender', 'story_share',
       'text', 'user', 'video_call_action'],
      dtype='object')

In [5]:
df = isi_dm.copy()
df.drop(['action', 'animated_media_images', 'heart', 'is_random',
       'likes', 'link', 'media', 'media_owner', 'media_share_caption',
       'media_share_url', 'media_url', 'mentioned_username',
       'profile_share_name', 'profile_share_username', 'story_share',
       'user', 'video_call_action'], axis=1, inplace=True)

In [6]:
df.head(10)

                         created_at        sender                       text
0  2018-12-16T16:48:36.528579+00:00        strbyj                        gah
1  2018-12-16T16:28:22.394162+00:00  annidazakiya      Heu mbok ajak aku mau
2  2018-12-16T16:27:30.721914+00:00        strbyj                       kkup
3  2018-12-16T16:26:29.711387+00:00  annidazakiya       Kamu belajar apa mas
4  2018-12-14T13:31:14.497441+00:00        strbyj                      nakui
5  2018-12-14T13:31:07.945264+00:00  annidazakiya        Mung rodo bosok wae
6  2018-12-14T13:31:00.468763+00:00  annidazakiya                   Ora ndea
7  2018-12-14T13:30:22.248418+00:00        strbyj     maksiat emang magelang
8  2018-12-14T13:29:48.438352+00:00  annidazakiya  Wkwkwk makane aku ra bali
9  2018-12-14T13:29:34.742537+00:00        strbyj            iki membe tekan

In [9]:
df.groupby('sender')['text'].count().sort_values(ascending=False).head(10)

sender
strbyj            11175
meitaarasy          792
divasahisnu         677
saputraajibayu      640
harzaq              610
ditsky_             572
rafizulfahmi        424
arrethainsane       407
sekarkn             404
______52hz          330
Name: text, dtype: int64

In [10]:
df.describe()

                              created_at  sender   text
count                              22706   22695  21763
unique                             22700     168  18594
top     2018-09-24T10:29:08.715761+00:00  strbyj     :(
freq                                   4   11657    104